.about-content {
  display: flex;
}

.about-text {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.about-img {
    width: 50%;
}

.about-img img{
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .about-text{
        padding: 0px;
    }
    .about-content{
        flex-direction: column;
    }
    .about-img{
        width: 100%;
    }
}