.about-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-text {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.about-img {
    width: 50%;
}

.about-img img{
    width: 100%;
    height: 100%;
}