.order-div{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-list{
    background-color: lightpink;
    width: 80%;

}

.item-details{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

