.order-div{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.order-list{
    width: 50%;
    padding: 20px;
}

.item-details{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 70px;
    border: 1px solid black;
}

.item-details img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.checkout-buttons{
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.checkout-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}