.Homepage-container{
    background-color: white;
}

.hompage-context-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-color: rgb(238, 222, 200);
    margin-left: 50px;
    margin-right: 50px;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.hero-text-container h1 {
  font-size: 18px;
}

.hero-img-container {
    width: 40%;
}

.hero-img-container img {
    width: 100%;
}

.homepage-mid-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
}

.mid-container{
    width: 80%;
    display: flex;
    justify-content: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    padding-bottom: 10px;
}
.card-details h1 {
  font-size: 18px;
}

.card-details p {
  font-size: 14px;
}
.card-details h1,
.card-details p {
  margin: 5px;
}

.card-details img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.homepage-footer{
    width: 100%;
    height:300px;
    color: white;
    background-size: cover;
    background-image: url("../assets/dark-coffee.jpg") ;
    display: flex;
    justify-content: flex-start;
    background-position: center;
}

.footer-text{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
}

