.menu-container{
    display: flex;
    justify-content: center;
}
.menu-options{
    display: flex;
    justify-content: center;
}

.menu-buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.menu-content{
    display: flex;
    justify-content: center;
}
.menu-list {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}
.pages-content{
    padding: 100px;
    display: flex;
    justify-content: center;
}