.menu-container{
    display: flex;
    justify-content: center;
}
.menu-options{
    display: flex;
    justify-content: center;
}

.menu-buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.menu-content{
    display: flex;
    justify-content: center;
}
.menu-list {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}
.pages-content{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.pages-detail{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.pages-detail span{
    padding-top: 10px;
}

@media (max-width: 600px) {
    .menu-list{
        grid-template-columns: 1fr;
    }
    .menu-buttons{
        width: 100%;
    }
    .pages-content{
        padding: 0px;
    }
    .pages-detail{
        width: 100%;
    }
    
}