.nav-container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    width: 100%;
    height: 50px;
    align-items: center;
}
.nav-logo{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    height: 50px;
}
.nav-content{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.nav-link{
    color: black;
}
.nav-sidebar{
}

.footer{
    background-color: rgb(68, 45, 29);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px
}

.footer-logo{
    width: 10%;
}
.footer-logo img{
    width: 100%;
}
.footer-items{
    width: 40%;
    display: flex;
    justify-content: space-between;

}
.footer-social{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-link{
    color: white;
}

@media (max-width: 630px){
    .nav-content{
        display: none;
    }
    .footer-items{
        display: none;
    }
    .footer-social{
        display: none;
    }
}