body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    transition: transform 0.2s ease;
}
.coco-button{
    background-color: rgb(80, 94, 60);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: 1px solid #e5e5e5;
}

button:hover{
    cursor: pointer;
     transform: scale(1.05);
}

.brown-button{
    background-color: rgb(68, 45, 29);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: 1px solid #ffffff;
}

a{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}
a:hover{
        background-color: rgba(187, 187, 122, 0.793);
}
